/* GLOBALconfiguração*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto+Serif:opsz,wght@8..144,700&family=Sriracha&display=swap');

*{ 
  margin: 0;
  padding: 0;

}

body{
  background: #FFEDD5;
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
}
header{
  padding: 32px 0;
  text-align: center;
}
header,
section {
  max-width: 300px;
  margin: 0 auto;
}
header h1{
  margin-bottom: 4px;
}
header h1 span{
  color: #995000; 
}
section {
  margin-bottom: 24px;
}
section h2 {
  background: #FED7AA ;
  padding: 8px 16px;
  text-align: center;
  margin-bottom: 24px;
}
/* caixa flex do lado o texto*/
ul li {
  margin-bottom: 16px;
  display: flex;
}
li .details{
  max-width: 240px;
}
.details h3{
  margin-bottom: 8px;

}
/*seletor de img*/
.doce{
  width: 100px;
  margin: 10px;
  border-radius: 60px;
  box-shadow: 2px 2px 5px rgb(0,0,0,0.400);
  box-sizing: border-box;
  }

/*FONTES*/
h1, h2, h3, .price {
  font-family: 'Roboto Serif';
}